# REQUIRED AI CONFIG
OPENAI_API_KEY=
BASE_URL=
DEFAULT_MODEL=

OPENAI_ORG_ID=

DISABLE_GPT4=1
HIDE_USER_API_KEY=1

# OPTIONAL SERVICES (leave empty if unused)
DEEPSEEK_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=
SILICONFLOW_API_KEY=
AI302_API_KEY=

CODE=your-password
PROXY_URL=http://localhost:7890
ENABLE_MCP=
ENABLE_BALANCE_QUERY=
DISABLE_FAST_LINK=
CUSTOM_MODELS=
ANTHROPIC_API_VERSION=
ANTHROPIC_URL=
WHITE_WEBDAV_ENDPOINTS=
SILICONFLOW_URL=
AI302_URL=
