# REQUIRED AI CONFIG
OPENAI_API_KEY=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
BASE_URL=https://openrouter.ai/api/v1
DEFAULT_MODEL=mistralai/mistral-7b-instruct

OPENAI_ORG_ID=

DISABLE_GPT4=1
HIDE_USER_API_KEY=1

# OPTIONAL SERVICES (leave empty if unused)
DEEPSEEK_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=
SILICONFLOW_API_KEY=
AI302_API_KEY=

CODE=your-password
PROXY_URL=http://localhost:7890
ENABLE_MCP=
ENABLE_BALANCE_QUERY=
DISABLE_FAST_LINK=
CUSTOM_MODELS=
ANTHROPIC_API_VERSION=
ANTHROPIC_URL=
WHITE_WEBDAV_ENDPOINTS=
SILICONFLOW_URL=
AI302_URL=
